<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https:////cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>

  <title>
    {% block title %}
    {% endblock %}
  </title>
</head>

<body class="is-preload homepage">
  <!-- paso 5-->
  {% load socialaccount %}
  {% load account %}
  <div id="header-wrapper">
    <header id="header" class="container">
      <div id="logo">
        <h1><a href="{% url 'index' %}">Directorio</a></h1>
        <span class="name">WEB +</span>
        <!-- Nav -->
        <nav id="nav">
          <div class="">
            {% if messages %}
            <div class="messages">
              {% for message in messages %}
              <span{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
                {% endfor %}
            </div>
            {% endif %}
          </div>
          <ul>
            {% if user.is_authenticated %}
            <li class="current"> <span class="nombre_usuario"> Bienvenido: {{user.username}} </span></li>
            {% endif %}
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'crear_estudiante' %}">Agregar estudiante</a></li>
            <li><a href="{% url 'crear_numero_telefonico' %}">Agregar telefono</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout_view' %}">Salir</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Ingresar</a></li>
            <li><a href="{% provider_login_url 'github' %}">Ingresar con GitHub</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    <section>
      <br>
      {% block content %}

      {% endblock %}
    </section>
    <div id="footer-wrapper">
      <footer id="footer" class="container">
        <div class="row">
          <div class="col-3 col-6-medium col-12-small">

            <!-- Links -->
            <section class="widget links">
                 <h3>Menu</h3>
              <ul class="style2">
                {% if user.is_authenticated %}
                <li class="current"> <span class="nombre_usuario"> Bienvenido: {{user.username}} </span></li>
                {% endif %}
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'crear_estudiante' %}">Agregar estudiante</a></li>
                <li><a href="{% url 'crear_numero_telefonico' %}">Agregar telefono</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout_view' %}">Salir</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Ingresar</a></li>
                <li><a href="{% provider_login_url 'github' %}">Ingresar con GitHub</a></li>
                {% endif %}
              </ul>
            </section>

          </div>
          <div class="col-3 col-6-medium col-12-small">

            <!-- Links -->
            <section class="widget links">
           
            </section>

          </div>
          <div class="col-3 col-6-medium col-12-small">

            <!-- Links -->
            <section class="widget links">
             
            </section>

          </div>
          <div class="col-3 col-6-medium col-12-small">

            <!-- Contact -->
            <section class="widget contact last">
              <h3>Contact Us</h3>
              <ul>
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
              </ul>
              <p>Loja-Ecuador</p>
              <p>{% now "j F Y H:i" %}</p>
            </section>

          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div id="copyright">
        >
                <li>&copy; Derechos reservados</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Scripts -->
  <!--<script src="{% static 'assets/js/jquery.min.js' %}"></script>-->
  <script>let table = new DataTable('#myTable');</script>
  
  <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
  <script src="{% static 'assets/js/browser.min.js' %}"></script>
  <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
  <script src="{% static 'assets/js/util.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>